*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Arial, Helvetica, Verdana, sans-serif;
  padding: 5rem;
}

h1 {
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 1rem;
  color: #001845
}

nav {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

button {
  appearance: none;
  border: none;
  background-color: #0466c8;
  color: #fff;
  padding: .5rem 1rem;
  margin: .2rem;
  border-radius: .2rem;
  transition: opacity .2s;
}

button:hover {
  opacity: .9;
}

.vjslider__slide {
  height: 20rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vjslider__slide[data-id="1"],
.vjslider__slide[data-id="6"] {
  background-color: #ff595e;
}

.vjslider__slide[data-id="2"],
.vjslider__slide[data-id="7"] {
  background-color: #ffca3a;
}

.vjslider__slide[data-id="3"],
.vjslider__slide[data-id="8"],
.vjslider__slide[data-id="11"] {
  background-color: #1982c4;
  height: 5rem;
}

.vjslider__slide[data-id="4"],
.vjslider__slide[data-id="9"] {
  background-color: #6a4c93;
}

.vjslider__slide[data-id="5"],
.vjslider__slide[data-id="10"] {
  background-color: #44bba4;
}

.vjslider__slide a {
  color: #fff;
}

[hidden] {
  display: none;
}
