.vjslider {
  overflow: hidden;

  &__slider {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }

  &__slide {
    min-width: 100%;
    transition: transform .3s;

    &--no-animate {
      transition: none;
    }
  }
}
